@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    width: 100%;
    height: 100vh;
}

.content {
    box-sizing: border-box;
    height: 667px;
    width: 375px;
    position: relative;
    border: 1px solid #d3d0d0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 42px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header ion-icon, img{
    cursor: pointer;
}

.background-sidebar {
    z-index: 1;
    height: 667px;
    width: 375px;
    position: absolute;
}

.parte-preta {
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    height: 667px;
    width: 115px;
    position: absolute;
}

.sidebar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    height: 667px;
    width: 260px;
    z-index: 2;
}

.participantes {
    height: 170px;
    overflow-y: scroll;
}

.participantes::-webkit-scrollbar {
    width: 0;
}

.titulo1 {
    display: flex;
    align-items: center;
    height: 84px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    margin-bottom: 5px;
}

.titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    font-weight: 700;
    font-size: 16px;
}

.opcaoV, .usuarios {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 2px;
}

.spansb, .usuario{
    margin-left: 10px;
}

.check ion-icon{
    display: none;
    position: absolute;
    color: rgb(30, 199, 30);
    right: 20px;
    font-size: 20px;
    top: 5px;
}

.selecionado .check ion-icon{
    display: initial;
}

.esconder{
    display: none;
}

.bate-papo {
    margin-top: 80px;
    padding-top: 13px;
    width: 373px;
    height: 507px;
    overflow: scroll;
}

.bate-papo::-webkit-scrollbar {
    width: 0;
}
 
.message {
    background-color: #ffffff;
    overflow: hidden;
    word-wrap: break-word;
    width: 373px;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    line-height: 20px;
    border-radius: 2px;
}

.private_message {
    word-wrap: break-word;
    overflow: hidden;
    width: 373px;
    flex-wrap: wrap;
    background-color: #ffdede;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    line-height: 20px;
    border-radius: 2px;
}

.status {
    word-wrap: break-word;
    overflow: hidden;
    width: 373px;
    flex-wrap: wrap;
    background-color: #dcdcdc;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    line-height: 20px;
    border-radius: 2px;
}

.horario {
    color: #aaaaaa;
    margin-right: 5px;
}

.remetente {
    font-weight: 700;
}

.destinatario {
    font-weight: 700;
}

footer {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 17px;
    padding-right: 18px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.caixa-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.caixa-texto input {
    border-style: none;
    width: 80%;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: black;
}

footer ion-icon {
    cursor: pointer;
    font-size: 30px;
    box-sizing: border-box;
}

.enviando {
    margin-top: 9px;
    font-size: 12px;
    color: #7c7575;
}

.tela-entrada {
    background-color: #ffffff;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100000;
    height: 667px;
    width: 375px;
}

.entrar {
    border: none;
    height: 45px;
    width: 109px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: #696969;
}

.nome {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    height: 54px;
    width: 241px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}

.nome::placeholder{
    text-align: center;

    font-size: 18px;
}

.logo2 {
    position: absolute;
    top: 100px;
    cursor: default;
    width: 130px;
    height: 92px;
}

.gif {
    position: absolute;
    cursor: default;
    top: 275px;
    height: 100px;
    width: 100px;
}

.tela-entrada h1 {
    position: absolute;
    top: 375px;
    margin-top: 10px;
}